@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply antialiased;
}

@layer components {
    .text-gradient {
        @apply text-white;
        background-image: -webkit-linear-gradient(45deg,#1dd82d,rgb(227, 141, 36) 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes pulsate-border {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(34, 230, 56, 0.7);
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 0 0 8px rgba(34, 230, 56, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(34, 230, 56, 0);
    }
}
